body, html {
	height: 100%;
	background-color: rgb(0, 0, 0);
}

#card {
	/*background-color: pink;*/
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, auto);
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.coverPhoto {
	width: 100%;
	grid-column: 1/5;
	grid-row: 1/7;
	box-sizing: border-box;
	margin-bottom: -0.10rem;
}

.photo {
	object-fit: cover;
}

#fave {
	grid-column: 4/5;
	grid-row: 1;
	justify-self: end;
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.60);
}

#whiteHeart,
#redHeart {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
}

#name {
	grid-column: 1/5;
	grid-row: 6;
	padding: .75rem 0 1rem 1.75rem;
	font-size: 4rem;
	letter-spacing: .125rem;
	font-family: 'Playfair Display', serif;
	color: rgb(225, 225, 225);
	background: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

div.userInfo {
	/*border: 2px dashed blue;*/
	background-color: rgba(0, 0, 0, 0.90);
	grid-column: 1/5;
	grid-row: 7;
	display: grid;
	grid-row-gap: 1rem;
	box-sizing: border-box;
	padding-top: 2rem;
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	color: rgb(255, 255, 255);
}

p.userInfo {
	display: grid;
	grid-template-columns: 35% 1fr;
}

p.userInfo {
	font-size: 1.25rem;
	font-weight: 300;
}

p.userInfo > span {
	font-weight: bold;
	/*border: 2px solid blue;*/
	justify-self: end;
	padding-right: 1.75rem;
}

.breed {
	/*background-color: white;*/
}

.gender {
	/*background-color: yellow;*/
}

.age {
	/*background-color: lime;*/
}

.size {
	/*background-color: orange;*/
}

div.friendlyIcons {
	/*border: 2px solid white;*/
	background-color: rgba(0, 0, 0, 0.90);
	grid-column: 1/5;
	grid-row: 8;
	box-sizing: border-box;
	padding: 2rem 0;
}

ul.friendlyIcons {
	/*background-color: red;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.dogFriendly,
.catFriendly,
.kidFriendly {
	justify-self: center;
	/*border-radius: 50%;*/
	/*padding: 1rem 1rem;*/
	/*background-color: rgb(255, 255, 255);*/
	font-size: 1rem;
}

.dogFriendly {
	/*border: 2px dashed lime;*/
	grid-column: 1/2;
	padding: 1rem 0.50rem;
}

.catFriendly {
	/*border: 2px dotted powderblue;*/
	grid-column: 2/3;
	padding: 1rem 0.50rem;
}

.kidFriendly {
	/*border: 2px solid purple;*/
	grid-column: 3/4;
	padding: 1rem 0.50rem;
}

.dogFriendly > img,
.catFriendly > img,
.kidFriendly > img {
	height: 50px;
	width: 50px;
}

@media only screen and (min-width: 500px) {

	body {
		/*display: flex;*/
		/*flex-direction: row;*/
		/*justify-content: center;*/
	}

	#card {
		width: 100%;
		max-width: 1080px;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(4, auto);
		box-sizing: border-box;
		font-family: 'Raleway', sans-serif;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 0, 0);
	}

	.coverPhoto {
		width: 100%;
		height: 100%;
		grid-column: 1/5;
		grid-row: 1/5;
		box-sizing: border-box;
		margin-bottom: -0.10rem;
	}

	#fave {
		grid-column: 8/9;
		grid-row: 1;
		justify-self: end;
		box-sizing: border-box;
		color: rgba(255, 255, 255, 0.60);
	}

	h1#name {
		grid-column: 6/8;
		grid-row: 2;
		justify-self: center;
		margin-top: 0;
		padding: 0;
		font-size: 4rem;
		letter-spacing: .125rem;
		font-family: 'Playfair Display', serif;
	}

	div.userInfo {
		grid-column: 5/9;
		grid-row: 3;
		font-size: 1rem;
		padding-top: 0;
	}

	p.userInfo {
		display: grid;
		grid-template-columns: 45% 1fr;
	}

	p.userInfo > span {
		justify-self: end;
		padding-right: 1.75rem;
		font-weight: bold;
	}

	div.friendlyIcons {
		grid-column: 5/9;
		grid-row: 4;
	}

	ul.friendlyIcons {
		/*background-color: red;*/
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.dogFriendly {
		grid-column: 1/2;
		justify-self: center;
	}

	.catFriendly {
		grid-column: 2/3;
		justify-self: center;
	}

	.kidFriendly {
		grid-column: 3/4;
		justify-self: center;
	}

	.dogFriendly > img,
	.catFriendly > img,
	.kidFriendly > img {
		height: 29px;
		width: 29px;
	}
}